.navbar
    .navbar-brand
        img
            height: 80px
            width: auto

    .navbar-toggler
        border: none

        i.fas
            color: $primary-color

    .navbar-collapse
        .navbar-nav
            .nav-item
                .active
                    color: $primary-color !important

                .nav-link
                    &:hover
                        color: $primary-color
                        transition: color 0.3s ease-in-out
