<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="#home">
				<img src="/images/logo.png" alt="Logo" />
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbar-top"
				aria-controls="navbar-top"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<i class="fas fa-bars"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbar-top">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
					<li class="nav-item"><a class="nav-link" href="#services">Social Media Services</a></li>
					<li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
				</ul>
			</div>
		</nav>

		<!-- Main Home Screen -->
		<section id="home" class="full-page home">
			<img id="home-bg" src="/images/home_bg.svg" alt="" />
			<div class="container">
				<div class="row">
					<div
						class="col-sm-12 col-md-6 d-flex"
						style="flex-direction: column; padding: 30px"
					>
						<h1 class="center">Brands meet the <br />Market</h1>
						<h3 class="center">
							We help organise your <br />
							marketing so you can get <br />better results
						</h3>
						<button class="btn btn-primary">Get Started!</button>
					</div>
				</div>
			</div>
			<img
				class="img-fluid"
				id="home-illus"
				src="/images/home_illus.svg"
				alt=""
			/>
		</section>

		<!-- about us -->
		<section id="about" class="about-us full-page">
			<div class="container">
				<div class="row">
					<h1 class="m-auto show-on-sm" style="padding-bottom: 40px;">
						About Us
					</h2>
					<div class="col-sm-12 col-md-6">
						<h3>
							Jufmy is an established marketing <br />
							company which came into existence<br />
							with a mission of transforming<br />
							marketting sector.<br />
						</h3>
						<img
							id="about-us-illus"
							src="/images/about_us_illus.svg"
							alt="About Us Illus"
							class="img-fluid"
						/>
					</div>
					<div class="col-sm-12 col-md-6 hide-on-md-and-down">
						<img
							id="about-us-illus-2"
							src="/images/about_us_illus_2.svg"
							alt="About Us Illustration 2"
							class="img-fluid"
						/>
					</div>
				</div>
			</div>
		</section>

		<!-- Services -->
		<section id="services" class="full=page services">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h1 class="text-primary">Social Media <br/> Services</h2>
						<div class="row">
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Social Media Management</h3>
									<p>A team of professionals manage social 
										media platforms of our partners effectively
										 and efficiently.</p>
								</div>
							</div></div>
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Digital Marketing</h3>
									<p>A team of designers work at different digital platforms to 
										ensure that each and every digital
										 platform reflects the company’s profile and image</p>
								</div>
							</div></div>
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Branding</h3>
									<p>Generally branding is a long term process but our highly 
										skilled team work in a time 
										bound manner to convert a company into a brand.</p>
								</div>
							</div></div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 d-flex">
						<img class="img-fluid m-auto" src="/images/services_illus.svg" alt="Services Illustration">
					</div>
				</div>
			</div>
		</section>

		<!-- Contact Us -->
		<section id="contact" class="contact-us full-page">
			<img src="/images/contact_bg.svg" alt="Contact BG" id="contact-bg">
			<div class="container full-page">
				<div class="row full-page" style="flex-direction: column;">
						<div class="col-sm-12 col-md-6 d-flex">
								<div class="m-auto d-flex" style="flex-direction: column;">
										<h1 class="text-primary">WE WOULD LOVE TO <br/> HEAR FROM YOU</h1>
										<div id="btn-social" class="btn-group bg-transition" role="group" aria-label="Basic example">
											<a href="https://www.facebook.com/jufmy1" class="btn btn-secondary"><i class="fab fa-facebook-f"></i></a>
											<a href="https://www.instagram.com/jufmy" class="btn btn-secondary"><i class="fab fa-instagram"></i></a>
											<a href="mailto:info@jumfy.com" class="btn btn-secondary"><i class="far fa-envelope"></i> info@jumfy.com</a>
										</div>
										<a id="location" href="https://goo.gl/maps/sAjojBiVp8t" target="_v" class="lead" style="margin: auto; padding: 20px;">
											<i class="fas fa-map-marker-alt"></i> Jufmy Dtu, New Delhi
										</a>
								</div>
						</div>
				</div>
			</div>
			<img class="img-fluid" id="contact-illus-1" src="/images/contact_illus_1.svg" alt="Contact Illus 1">
			<img class="img-fluid" id="contact-illus-2" src="/images/contact_illus_2.svg" alt="Contact Illus 2">
		</section>

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<span>&copy; Jufmy 2018</span>
			</div>
		</footer>

	</body>
</html>
