<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="/images/logo.png" alt="Logo" />
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
				</ul>
			</div>
		</nav>

		<!-- Main Home Screen -->
		<section class="full-page home">
			<img id="home-bg" src="/images/home_bg.svg" alt="" />
			<div class="container">
				<div class="row">
					<div
						class="col-sm-12 col-md-6 d-flex"
						style="flex-direction: column; padding: 30px"
					>
						<h1 class="center">Brands meet the <br />Market</h1>
						<h3 class="center">
							We help organise your <br />
							marketing so you can get <br />better results
						</h3>
						<button class="btn btn-primary">Get Started!</button>
					</div>
				</div>
			</div>
			<img
				class="img-fluid"
				id="home-illus"
				src="/images/home_illus.svg"
				alt=""
			/>
		</section>

		<!-- about us -->
		<section class="about-us full-page">
			<div class="container">
				<div class="row">
					<h1 class="m-auto show-on-sm" style="padding-bottom: 40px;">
						About Us
					</h2>
					<div class="col-sm-12 col-md-6">
						<h3>
							Jufmy is an established marketing <br />
							company which came into existence<br />
							with a mission of transforming<br />
							marketting sector.<br />
						</h3>
						<img
							id="about-us-illus"
							src="/images/about_us_illus.svg"
							alt="About Us Illus"
							class="img-fluid"
						/>
					</div>
					<div class="col-sm-12 col-md-6 hide-on-md-and-down">
						<img
							id="about-us-illus-2"
							src="/images/about_us_illus_2.svg"
							alt="About Us Illustration 2"
							class="img-fluid"
						/>
					</div>
				</div>
			</div>
		</section>

		<!-- Services -->
		<section class="services">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h1 class="text-primary">Social Media <br/> Services</h2>
						<div class="row">
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Social Media Management</h3>
									<p>A team of professionals manage social 
										media platforms of our partners effectively
										 and efficiently.</p>
								</div>
							</div></div>
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Digital Marketing</h3>
									<p>A team of designers work at different digital platforms to 
										ensure that each and every digital
										 platform reflects the company’s profile and image</p>
								</div>
							</div></div>
							<div class="col-sm-12 col-lg-6"><div class="card bg-transition text-white">
								<div class="card-body">
									<h3>Branding</h3>
									<p>Generally branding is a long term process but our highly 
										skilled team work in a time 
										bound manner to convert a company into a brand.</p>
								</div>
							</div></div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 d-flex">
						<img class="img-fluid m-auto" src="/images/services_illus.svg" alt="Services Illustration">
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
