.full-page
    height: 100%
    width: 100%

.center
    align: center

// hide classes

.hide-on-md-and-down
    display: none

    +larger-than-tablet
        display: inline-block

.show-on-sm
    display: auto

    +larger-than-tablet
        display: none
