.contact-us
    position: relative
    height: auto
    padding-top: 30px
    padding-bottom: 30px

    +larger-than-tablet
        height: 100%


    h1
        margin-bottom: 100px

    #btn-social
        margin: auto

    #location
        color: $primary-color

        &:hover
            color: darken($primary-color, 10%)

#contact-bg
    display: none

    +larger-than-tablet
        display: inline-block
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        z-index: -1

#btn-social
    border-radius: 25px

    .btn
        background: transparent
        border: none
        font-size: 1rem

        +larger-than-tablet
            font-size: 1.5rem


        &:hover
            background: transparent

#contact-illus-1
    height: 92px
    width: auto
    position: absolute
    right: 10%
    bottom: 40%
    z-index: -1

    +larger-than-tablet
        height: 150px
        right: 40%
        bottom: 10%
        z-index: 10


    +larger-than-desktop
        height: 250px

#contact-illus-2
    height: 92px
    width: auto
    position: absolute
    left: 5%
    bottom: 40%
    z-index: -1

    +larger-than-tablet
        left: 60%
        right: 10%
        bottom: 40%
        display: inline-block
        height: 150px
        z-index: 10


    +larger-than-desktop
        height: 250px
