.full-page
    height: 100vh
    width: 100vw

#home-bg
    width: 90%
    position: absolute
    top: 60
    left: 0
    z-index: -1

#home-illus
    height: 30%
    position: absolute
    bottom: 40%
    right: 30px

.home
    .container
        color: white !important
        padding-top: 10%

        h1
            font-weight: bold

        h2
            font-weight: 400
